<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    <bean id="loginAction" class="cn.edu.ustc.ttcn.itsec.actions.LoginAction">
    	<property name="loginService">
    		<ref bean="loginService"/>
    	</property>
    </bean>
 
	<bean id="selectObject" class="cn.edu.ustc.ttcn.itsec.actions.SelectObject">
		<property name="objectService">
			<ref bean="objectService" />
		</property>
	</bean>
 -->
    <!-- more bean definitions go here -->

</beans>